Microsoft.Flow/flows/3aaf9dc5-62a3-4e97-a21c-762e58877350/definition.json
{"name":"2c8ddd12-4f3e-47a3-9374-c803a9d6636a","id":"/providers/Microsoft.Flow/flows/2c8ddd12-4f3e-47a3-9374-c803a9d6636a","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"FaceAPIPowerApp","definition":{"metadata":{"creator":{"id":"ec89efc0-9684-4cce-8fe4-9380fa31bdf2","type":"User","tenantId":"fe191177-480c-490c-8df5-270125be9fc2"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2018-09-18T23:15:35.8335275Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"type":"Request","kind":"PowerApp","inputs":{"schema":{"type":"object","required":["Createfile_FileContent"],"properties":{"Createfile_FileContent":{"type":"string","format":"binary","description":"Content of the file.","x-ms-powerflows-param-ispartial":false}}}}}},"actions":{"Create_file":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"CreateFile"}},"type":"ApiConnection","inputs":{"host":{"api":{"runtimeUrl":"https://flow-apim-msmanaged-na-centralus-01.azure-apim.net/apim/sharepointonline"},"connection":{"name":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$connections']['shared_sharepointonline']['connectionId']"}},"method":"post","body":"@triggerBody()['Createfile_FileContent']","path":"/datasets/@{encodeURIComponent(encodeURIComponent('https://dladay.sharepoint.com/sites/Faces/'))}/files","queries":{"folderPath":"/Faces","name":"@{utcNow()}","queryParametersSingleEncoded":true},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Compose":{"runAfter":{"Create_file":["Succeeded"]},"type":"Compose","inputs":"@dataUriToBinary(triggerBody()['Createfile_FileContent'])"},"HTTP":{"runAfter":{"Compose":["Succeeded"]},"type":"Http","inputs":{"method":"POST","uri":"https://eastus.api.cognitive.microsoft.com/face/v1.0/detect","headers":{"Ocp-Apim-Subscription-Key":"0950d847cbd845c3962a21580fdbe6c3","Content-Type":"application/octet-stream"},"queries":{"returnFaceAttributes":"age,gender,emotion,smile,hair"},"body":"@outputs('Compose')"}},"Response":{"runAfter":{"HTTP":["Succeeded"]},"type":"Response","kind":"Http","inputs":{"statusCode":200,"body":"@body('HTTP')","schema":{"type":"array","items":{"type":"object","properties":{"faceId":{"type":"string"},"faceRectangle":{"type":"object","properties":{"width":{"type":"integer"},"height":{"type":"integer"},"left":{"type":"integer"},"top":{"type":"integer"}}},"faceLandmarks":{"type":"object","properties":{"pupilLeft":{"type":"object","properties":{"x":{"type":"number"},"y":{"type":"number"}}},"pupilRight":{"type":"object","properties":{"x":{"type":"number"},"y":{"type":"number"}}},"noseTip":{"type":"object","properties":{"x":{"type":"number"},"y":{"type":"number"}}},"mouthLeft":{"type":"object","properties":{"x":{"type":"number"},"y":{"type":"number"}}},"mouthRight":{"type":"object","properties":{"x":{"type":"number"},"y":{"type":"number"}}},"eyebrowLeftOuter":{"type":"object","properties":{"x":{"type":"number"},"y":{"type":"number"}}},"eyebrowLeftInner":{"type":"object","properties":{"x":{"type":"number"},"y":{"type":"number"}}},"eyeLeftOuter":{"type":"object","properties":{"x":{"type":"number"},"y":{"type":"number"}}},"eyeLeftTop":{"type":"object","properties":{"x":{"type":"number"},"y":{"type":"number"}}},"eyeLeftBottom":{"type":"object","properties":{"x":{"type":"integer"},"y":{"type":"number"}}},"eyeLeftInner":{"type":"object","properties":{"x":{"type":"number"},"y":{"type":"integer"}}},"eyebrowRightInner":{"type":"object","properties":{"x":{"type":"number"},"y":{"type":"number"}}},"eyebrowRightOuter":{"type":"object","properties":{"x":{"type":"number"},"y":{"type":"number"}}},"eyeRightInner":{"type":"object","properties":{"x":{"type":"number"},"y":{"type":"integer"}}},"eyeRightTop":{"type":"object","properties":{"x":{"type":"number"},"y":{"type":"number"}}},"eyeRightBottom":{"type":"object","properties":{"x":{"type":"integer"},"y":{"type":"number"}}},"eyeRightOuter":{"type":"object","properties":{"x":{"type":"number"},"y":{"type":"number"}}},"noseRootLeft":{"type":"object","properties":{"x":{"type":"integer"},"y":{"type":"number"}}},"noseRootRight":{"type":"object","properties":{"x":{"type":"number"},"y":{"type":"number"}}},"noseLeftAlarTop":{"type":"object","properties":{"x":{"type":"number"},"y":{"type":"number"}}},"noseRightAlarTop":{"type":"object","properties":{"x":{"type":"number"},"y":{"type":"integer"}}},"noseLeftAlarOutTip":{"type":"object","properties":{"x":{"type":"number"},"y":{"type":"number"}}},"noseRightAlarOutTip":{"type":"object","properties":{"x":{"type":"number"},"y":{"type":"number"}}},"upperLipTop":{"type":"object","properties":{"x":{"type":"number"},"y":{"type":"number"}}},"upperLipBottom":{"type":"object","properties":{"x":{"type":"number"},"y":{"type":"number"}}},"underLipTop":{"type":"object","properties":{"x":{"type":"number"},"y":{"type":"number"}}},"underLipBottom":{"type":"object","properties":{"x":{"type":"number"},"y":{"type":"number"}}}}},"faceAttributes":{"type":"object","properties":{"age":{"type":"integer"},"gender":{"type":"string"},"smile":{"type":"number"},"facialHair":{"type":"object","properties":{"moustache":{"type":"number"},"beard":{"type":"number"},"sideburns":{"type":"number"}}},"glasses":{"type":"string"},"headPose":{"type":"object","properties":{"roll":{"type":"number"},"yaw":{"type":"integer"},"pitch":{"type":"integer"}}},"emotion":{"type":"object","properties":{"anger":{"type":"number"},"contempt":{"type":"integer"},"disgust":{"type":"number"},"fear":{"type":"number"},"happiness":{"type":"number"},"neutral":{"type":"number"},"sadness":{"type":"integer"},"surprise":{"type":"number"}}},"hair":{"type":"object","properties":{"bald":{"type":"integer"},"invisible":{"type":"boolean"},"hairColor":{"type":"array","items":{"type":"object","properties":{"color":{"type":"string"},"confidence":{"type":"integer"}},"required":["color","confidence"]}}}},"makeup":{"type":"object","properties":{"eyeMakeup":{"type":"boolean"},"lipMakeup":{"type":"boolean"}}},"occlusion":{"type":"object","properties":{"foreheadOccluded":{"type":"boolean"},"eyeOccluded":{"type":"boolean"},"mouthOccluded":{"type":"boolean"}}},"accessories":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string"},"confidence":{"type":"number"}," confidence":{"type":"number"}},"required":["type"]}},"blur":{"type":"object","properties":{"blurLevel":{"type":"string"},"value":{"type":"number"}}},"exposure":{"type":"object","properties":{"exposureLevel":{"type":"string"},"value":{"type":"number"}}},"noise":{"type":"object","properties":{"noiseLevel":{"type":"string"},"value":{"type":"number"}}}}}},"required":["faceId","faceRectangle","faceLandmarks","faceAttributes"]}}}}},"outputs":{},"description":"Create one or more actions to happen when a button or link in PowerApps is selected. To use this flow from a PowerApp, select the control you want to trigger the flow and go to the Action tab in the PowerApps ribbon and select Flows."},"connectionReferences":{"shared_sharepointonline":{"connectionName":"shared-sharepointonl-6fbd1fe8-edaf-45d6-8eb1-fef9f47cec18","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false}}